{% extends 'news_admin/base.html' %}
{% block content%}

<form action="" method="post" class="m-2">
     {% csrf_token %}
     <div class="mb-3">
          <label for="username" class="from-label">Username</label>
          <input type="text" class="form-control" name="username">
     </div>
     <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
     </div>
     <button type="submit"> Submit</button>
</form>
{%endblock content%}