{% extends 'news_admin/base.html' %}
{% block content%}
<div class="row">
     <div class="col">
          <div class="post">
               <div class="date">{{post.published_date}}</div>
               <h1><a href="">{{post.title}}</a></h1>
               <img src="{{post.feature_image.url}}" alt="{{post.title}}" height="180px" width="180px">

               <div class="mt-2">
                    <a href="{% url 'news_admin:post-update' post.pk %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'news_admin:post-delete' post.pk %}" class="btn btn-danger">Delete</a>
               </div>
               <div class="date author">@{{post.author.username}}</div>
               <p>{{post.content}}</p>
          </div>
     </div>
</div>

{%endblock content%}