{% extends "aznews/base.html" %}
{% load static %}
{% block content %}

<!--================Blog Area =================-->
<section class="blog_area section-padding">
<div class="container">
     <div class="row">
          <div class="col-lg-8 mb-5 mb-lg-0">
               <div class="blog_left_sidebar">
                    {% include "aznews/list/left/search_list.html" %}
                    {% include "aznews/list/left/pagination.html" %}
               </div>
          </div>
          <div class="col-lg-4">
               <div class="blog_right_sidebar">
                    {% include "aznews/list/right/search_form.html" %}
                    {% include "aznews/list/right/category.html" %}
                    {% include "aznews/list/right/popular_posts.html" %}
                    {% include "aznews/list/right/tags.html" %}
                    {% include "aznews/list/right/newsletter.html" %}
                    
               </div>
          </div>
     </div>
</div>
</section>
<!--================Blog Area =================-->
{% endblock content %}