{% load static %}

<!-- Riht content -->
<div class="col-lg-4">
    {% for post in posts %}
    <div class="trand-right-single d-flex">
        <div class="trand-right-img">
            <a href="{% url 'post-detail' post.pk %}"><img src="{{ post.feature_image.url }}" alt="{{ post.title}}" width="200px" height="150px"/></a>
        </div>
        <div class="trand-right-cap">
            <span class="color1">{{post.category.name}}</span>
            <h4>
                <a href="{% url 'post-detail' post.pk %}">{{post.title| truncatechars:30}}<br><i class="fa fa-calendar-alt" >{{post.published_at|date:" D, j M Y"}}</i></a>
            </h4>
        </div>
    </div>
    {% endfor %}
</div>